version: "3.9"

services:
  app:
    build: .
    restart: always
    volumes:
      - .:/app
    networks:
      - app_network
    depends_on:
      - db
      - broker

  db:
    image: mysql:8.0.27
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app_network
    environment:
      - MYSQL_DATABASE=jobsche
      - MYSQL_ROOT_PASSWORD=password
    ports:
      - 3506:3306

  broker:
    image: redis
    restart: always
    networks:
      - app_network

  proxy:
    build: proxy
    restart: always
    ports:
      - 5000:80
    depends_on:
      - app
    networks:
      - app_network

volumes:
  db-data:
networks:
  app_network:
